{% extends 'base.html' %}
{% load static %}

    {% block title %}Login{% endblock title %}
    {% block content %}
        <div class="header-bar">
            <h1>Login</h1>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="button" type="submit" value="Login">
            </form>
        <p>Don't have an account? <a class="button" href="{% url 'register' %}">Register</a></p>
        </div>
    {% endblock content %}

