.view {
    background-color: lightgray;
}
body {
    background-color: lightslategrey;
    padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6  {
    font-family: sans-serif;
}

a {
    color: midnightblue;
}
p {
    color: black;
}
.container {
    max-width: 550px;
    margin: auto;
    background-color: whitesmoke;
    -webkit-box-shadow: 2px 2px 13px -4px black;
    box-shadow: 2px 2px 13px -4px ;
}
.header-bar {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background-image: -moz-linear-gradient(to left,  lightcyan, lightblue, steelblue);
}
.header-bar a {
    text-decoration: none;
}
.task-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: l;
    border-top: 1px solid lightgray;
}
.task-title {
    display: flex;
}
.task-title a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.task-complete-icon {
    height: 20px;
    width: 20px;
    background-color: lightblue;
    border-radius: 50%;
}
.task-incomplete-icon {
    height: 20px;
    width: 20px;
    background-color: steelblue;
    border-radius: 50%;
}
.delete-link {
    text-decoration: none;
    font-weight: 900;
    color: crimson;
    font-size: 22px;
    line-height: 0;
}
.search-add-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.search-form {
    margin-top: 20px;
    display: flex;
}
/*.task-form {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 10px;*/
/*}*/
/*.task-form-wrapper {*/
/*    margin-top: 20px;*/
/*    display: flex;*/
/*}*/
#add-link {
    color: lightblue;
    text-decoration: none;
    font-size: 42px;
    text-shadow: 1px 1px lightblue;
}
input[type=text],
input[type=password],
textarea {
    border: 1px solid steelblue;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}
label {
    padding-top: 10px !important;
    display: block;
}
.button {
    border: 1px solid lightblue;
    background-color: lightblue;
    color: steelblue;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.register-button {
        border: 1px solid lightblue;
        background-color: lightblue;
        color: steelblue;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        margin-top: 10px;
}
.card-body {
    padding: 20px;
}