{% extends 'base.html' %}
{% load static %}

{% block title %}Add{% endblock title %}
{% block content %}
    <div class="header-bar">
      <a href="{% url 'tasks' %}"><h3>Go Back</h3></a>
    </div>
    <div class="card-body">
        <h1>Add Task</h1>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="button" type="submit" value="Submit">
            </form>
        </div>

    </div>


{% endblock content %}