{% extends 'base.html' %}
{% load static %}
{% block title %}Todo List{% endblock title %}
{% block content %}
<div class="header-bar">
    <div>
        <h1>Hello {{ request.user|title }}</h1>
        <h3 style="margin: 0">You have <i>{{ count }} </i>Incomplete task{{ count|pluralize:"s" }}</h3>
    </div>
    <br>
    {% if request.user.is_authenticated %}

        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<h1 class="">My Task List</h1>
<div class="search-add-wrapper">
    <form method="GET" class="search-form">
        <input type="text" name="search-area" value="{{ search_input }}">
        <input class="button" type="submit" value="Search">
    </form>

    <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
</div>


<div class="task-list-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper">
        {% if task.complete %}
            <div class="task-title">
                <div class="task-complete-icon"></div>
                <i><s><a href="{% url 'task-update' task.id %}">{{ task }}</a></s></i>
            </div>
            <a class="delete-link" href="{% url 'task-delete' task.id %}">Delete</a>
        {% else %}
            <div class="task-title">
                <div class="task-incomplete-icon"></div>
                <a href="{% url 'task-update' task.id %}">{{ task }}</a>
            </div>
            <a class="button" href="{% url 'task-delete' task.id %}">Delete</a>
        {% endif %}
    </div>

{#        <td>{{ task.task }}</td>#}
{#            <td><a href="{% url 'task-detail' task.id%}">View</a></td>#}
{#            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>#}
{#            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>#}

    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}
</div>



{% endblock content %}