{% extends 'base.html' %}
{% load static %}

{% block title %}Detail{% endblock title %}
{% block content %}
    <div class="header-bar">
        <a href="{% url 'tasks' %}"><h3>Go Back</h3></a>

    </div>
    <div class="card-body">
        <h1>Task Details</h1>
        <h1>Task: {{ task }}</h1>
    </div>


{% endblock content %}